apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastrg-controller
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastrg-controller
  template:
    metadata:
      labels:
        app: fastrg-controller
    spec:
      containers:
      - name: fastrg-controller
        image: fastrg-controller:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8443
          hostPort: 8443
          name: https
        - containerPort: 8444
          hostPort: 8444
          name: log-https
        - containerPort: 8080
          hostPort: 8080
          name: http
        - containerPort: 50051
          hostPort: 50051
          name: grpc
          protocol: TCP
        - containerPort: 55688
          hostPort: 55688
          name: prometheus
          protocol: TCP
        env:
        - name: ETCD_ENDPOINTS
          value: "etcd-endpoint:2379"  # use etcd service
        - name: CERT_FILE
          value: "/app/certs/server.crt"
        - name: KEY_FILE
          value: "/app/certs/server.key"
        - name: PROMETHEUS_LISTEN_IP
          value: "0.0.0.0"
        # or use IP directly (if DNS resolution is problematic)
        # - name: ETCD_ENDPOINTS
        #   value: "<ETCD_HOST_IP>:2379"
        readinessProbe:
          tcpSocket:
            port: 8443
          initialDelaySeconds: 10
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: 8443
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: fastrg-controller-service
  namespace: default
spec:
  selector:
    app: fastrg-controller
  ports:
  - name: https
    port: 8443
    targetPort: 8443
  - name: log-https
    port: 8444
    targetPort: 8444
  - name: http
    port: 8080
    targetPort: 8080
  - name: grpc
    port: 50051
    targetPort: 50051
    protocol: TCP
  - name: prometheus
    port: 55688
    targetPort: 55688
    protocol: TCP
  type: ClusterIP